<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Appointment</title>
</head>
<body>
    <h2>Add Appointment</h2>
    <form method="post" action="{{ url_for('new_appointment') }}">
        <p>Date: <input type="date" name="date" required></p>
        <p>Specialization:
          <select name="specialization" required>
              <option value="Ακτινολόγος">Ακτινολόγος</option>
              <option value="Αιματολόγος">Αιματολόγος</option>
              <option value="Αλλεργιολόγος">Αλλεργιολόγος</option>
              <option value="Παθολόγος">Παθολόγος</option>
              <option value="Καρδιολόγος">Καρδιολόγος</option>
          </select>
        </p>
        <p>Discreption for the Appointment: <input type="text" name="disc" required></p>
        <p>Time:
          <select name="time" required>
              <option value="09:00">09:00</option>
              <option value="10:00">10:00</option>
              <option value="11:00">11:00</option>
              <option value="12:00">12:00</option>
              <option value="13:00">13:00</option>
              <option value="14:00">14:00</option>
              <option value="15:00">15:00</option>
              <option value="16:00">16:00</option>
          </select>
        </p>
        <p><input type="submit" value="Add Appointment"></p>
    </form>
    <p><a href="{{ url_for('home') }}">Back to Home</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>